p {
  font-family: Lato;
}
table,
th,
td {
  border: 1px solid #212121;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
